<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.UI" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.2682" newVersion="3.2.0.2682" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.World" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.2682" newVersion="3.2.0.2682" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-75.1.143.0" newVersion="75.1.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CefSharp.Core" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-75.1.143.0" newVersion="75.1.143.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gnostice.Core" publicKeyToken="fc8cb3ab6a24df63" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3.365.1347" newVersion="19.3.365.1347" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.3.0" newVersion="1.13.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
